*{
    margin: 0;
    padding: 0;

}
.main{
    position: relative;
    background-image: url("./../src/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    background-position: center;
}
.top{
    /* height:8vh; */
    width:100%;
    background-color: rgba(94, 181, 98, 1);
    overflow: hidden;
}
.top img{
    padding:1px 50px;
}
.top .left{
    float: left;
}
.top .right{
    float:right;
    
}
.right button{
    margin: 40px;
    padding:10px 50px;
    border:1px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
}

.body{
    width:35%;
    margin:60px auto;
    background-color:rgba(94, 181, 98, 0.401);
    /* height:50%; */
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body h1{
    font-size:35px;
    font-family: sans-serif;
    text-align: center;
    padding-top:50px;
    color:  rgb(31, 126, 36);
    font-weight: bolder;
    padding-bottom:20px;
}
.form{
    text-align: center;
}

input{
    text-align: center;
    padding:5px 50px;
    margin:10px;
    border: none;
    border-radius:5px;
}
button{
    text-align: center;
    padding:5px 50px;
    margin:10px;
    background-color:  rgba(94, 181, 98, 1);
    border: none;
    border-radius:5px;
    color: white;
    margin-bottom:50px;
    cursor: pointer;
}

footer{
    height:50px;
    background-color: rgba(94, 181, 98, 1);
    position: relative;
    bottom:0px;
}
footer p{
    text-align: center;
    padding-top:15px;
    color: white;
}
.form p{
    color: rgba(112, 29, 29, 0.888);
    background-color: rgba(220, 113, 113, 0.649);
    padding:5px 0px;
    margin:5px 200px;
    border-radius: 5px;
    display:none;
}
#question{
    margin:10px;
}

@media only screen and (max-width: 700px){
	.body{
        width:90%;
        margin:60px auto;
        background-color:rgba(94, 181, 98, 0.401);
        /* height:50%; */
    }
    .next{
        width: 95%;
        padding:5px 30px;
        margin-top:20px;
        background-color: rgba(94, 181, 98, 1);
        border: none;
        border-radius:5px;
        color: white;
        cursor: pointer;

    }
    .top{

        width:100%;
        background-color: rgba(94, 181, 98, 1);
        display:flex;
        
    }
    .top img{
        clear: both;
    }
    .top .left{
        clear: both;
        width:50%;
    }
    .top .right{
        width:80%;
        text-align: center;
        clear: both;
    }
    .right h4{
        margin:0px;
        padding:10px 0px;
        border:1px solid white;
        color: white;
        background: transparent;
        cursor: pointer;
    }
    input{
        text-align: center;
        /* padding:5px 50px; */
        width:50%;
        margin:10px;
        border: none;
        border-radius:5px;
    }
    .form p{
        color: rgba(112, 29, 29, 0.888);
        background-color: rgba(220, 113, 113, 0.649);
        padding:5px 0px;
        margin:5px 5px;
        border-radius: 5px;
        display:none;
    }
}